<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>WebApp</title>

  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">
</head>
<!-- Opções do CORPO, adicione as seguintes classes ao corpo para alterar as opções

// Opções de cabeçalho
1. '.header-fixed' - cabeçalho fixo

// Opções de marca
1. '.brand-minimized' - Marca minimizada (Somente símbolo)

// Opções da barra lateral
1. '.sidebar-fixed' - Barra lateral fixa
2. '.sidebar-hidden' - Barra lateral escondida
3. '.sidebar-off-canvas' - Off Canvas Barra lateral
4. '.sidebar-minimized' - Barra lateral minimizada (apenas ícones)
5. '.sidebar-compact' - Barra lateral compacta

// Opções de Breadcrumb
1. '.breadcrumb-fixed' - Fixed Breadcrumb

// Opções de rodapé
1. '.footer-fixed' - rodapé fixo
-->
<body class="app header-fixed sidebar-fixed">
  <app-root>Carregando...</app-root>
</body>
</html>

